[window]
blur = true
decorations = "none"
opacity = 0.85

[colors]
transparent_background_colors = true

[colors.primary]
background = "0x{{base00}}"
foreground = "0x{{base05}}"

[colors.cursor]
cursor = "0x{{base05}}"
text = "0x{{base00}}"

[colors.normal]
black = "0x{{base01}}"
red = "0x{{base08}}"
green = "0x{{base11}}"
yellow = "0x{{base10}}"
blue = "0x{{base13}}"
cyan = "0x{{base09}}"
magenta = "0x{{base12}}"
white = "0x{{base05}}"

[colors.bright]
black = "0x{{base03}}"
red = "0x{{base08}}"
green = "0x{{base11}}"
yellow = "0x{{base10}}"
blue = "0x{{base13}}"
cyan = "0x{{base09}}"
magenta = "0x{{base12}}"
white = "0x{{base06}}"

[[colors.indexed_colors]]
index = 16
color = "0x{{base02}}"

[[colors.indexed_colors]]
index = 17
color = "0x{{base04}}"

[[colors.indexed_colors]]
index = 18
color = "0x{{base05}}"

[[colors.indexed_colors]]
index = 19
color = "0x{{base07}}"
