[colors.primary]
background = "0x{{background}}"
foreground = "0x{{foreground}}"
dim_foreground = "0x{{black8}}"
bright_foreground = "0x{{white_bright}}"

[colors.cursor]
cursor = "0x{{foreground}}"
text = "0x{{background}}"

[colors.normal]
black = "0x{{black}}"
red = "0x{{accent}}"
green = "0x{{main}}"
yellow = "0x{{secondary}}"
blue = "0x{{secondary2}}"
magenta = "0x{{main2}}"
cyan = "0x{{main3}}"
white = "0x{{white}}"

[colors.bright]
black = "0x{{black_comment}}"
red = "0x{{accent_bright}}"
green = "0x{{main_bright}}"
yellow = "0x{{secondary_bright}}"
blue = "0x{{secondary2_bright}}"
magenta = "0x{{main2_bright}}"
cyan = "0x{{main3_bright}}"
white = "0x{{white_bright}}"

[[colors.indexed_colors]]
index = 16
color = "0x{{black2}}"

[[colors.indexed_colors]]
index = 17
color = "0x{{black3}}"

[[colors.indexed_colors]]
index = 18
color = "0x{{black4}}"

[[colors.indexed_colors]]
index = 19
color = "0x{{black5}}"

[[colors.indexed_colors]]
index = 20
color = "0x{{black6}}"

[[colors.indexed_colors]]
index = 21
color = "0x{{black7}}"

[[colors.indexed_colors]]
index = 21
color = "0x{{black8}}"
