[window]
blur = true
decorations = "none"
opacity = 0.85

[colors]
transparent_background_colors = true

[colors.primary]
background = "0x{{background}}"
foreground = "0x{{foreground}}"

[colors.cursor]
cursor = "0x{{foreground}}"
text = "0x{{background}}"

[colors.normal]
black = "0x{{base00}}"
red = "0x{{base01}}"
green = "0x{{base02}}"
yellow = "0x{{base03}}"
blue = "0x{{base04}}"
cyan = "0x{{base05}}"
magenta = "0x{{base06}}"
white = "0x{{base07}}"

[colors.bright]
black = "0x{{base08}}"
red = "0x{{base09}}"
green = "0x{{base0A}}"
yellow = "0x{{base0B}}"
blue = "0x{{base0C}}"
cyan = "0x{{base0D}}"
magenta = "0x{{base0E}}"
white = "0x{{base0F}}"
