palette = 0=#{{background}}
palette = 1=#{{contrast}}
palette = 2=#{{primary}}
palette = 3=#{{primary1}}
palette = 4=#{{primary2}}
palette = 5=#{{primary3}}
palette = 6=#{{primary4}}
palette = 7=#{{foreground}}
palette = 8=#{{foreground_alt}}
palette = 9=#{{contrast_bright}}
palette = 10=#{{primary_bright}}
palette = 11=#{{foreground}}
palette = 12=#{{foreground}}
palette = 13=#{{foreground}}
palette = 14=#{{foreground}}
palette = 15=#{{foreground}}
background = #{{background}}
foreground = #{{foreground}}
cursor-color = #{{foreground}}
cursor-text = #{{background}}
selection-background = #{{foreground}}
selection-foreground = #{{background}}
