# vim:ft=kitty
## name: {{name}}
## author: Tywr

# Basic colors
foreground           #{{foreground}}
background           #{{background}}
selection_foreground #{{background}}
selection_background #{{foreground}}

# Cursor colors
cursor            #{{foreground}}
cursor_text_color #{{background}}

# URL underline color when hovering with mouse
url_color #{{primary}}

# Window border colors and terminal bell colors
active_border_color   #81a1c1
inactive_border_color #4c566a
bell_border_color     #88c0d0
visual_bell_color     none

# Tab bar colors
active_tab_foreground   #3b4252
active_tab_background   #88c0d0
inactive_tab_foreground #e5e9f0
inactive_tab_background #4c566a
tab_bar_background      #3b4252
tab_bar_margin_color    none

# Mark colors (marked text in the terminal)
mark1_foreground #3b4252
mark1_background #88c0d0
mark2_foreground #3b4252
mark2_background #bf616a
mark3_foreground #3b4252
mark3_background #ebcb8b

# The basic 16 colors
# black
color0 #{{background_alt}}
color8 #{{foreground_alt}}

# red
color1 #{{contrast}}
color9 #{{contrast_bright}}

# green
color2  #{{primary}}
color10 #{{primary_bright}}

# yellow
color3  #{{primary1}}
color11 #{{white}}

# blue
color4  #{{primary2}}
color12 #{{white}}

# magenta
color5  #{{primary3}}
color13 #{{white}}

# cyan
color6  #{{primary4}}
color14 #{{white}}

# white
color7  #{{white}}
color15 #{{white}}

color16  #{{background}}

color100 #{{b00}}
color101 #{{b01}}
color102 #{{b02}}
color103 #{{b03}}
color104 #{{b04}}
color105 #{{b05}}
color106 #{{b06}}
color107 #{{b07}}
color108 #{{b08}}
color109 #{{b09}}
color110 #{{b10}}
color111 #{{b11}}
color112 #{{b12}}
color113 #{{b13}}
color114 #{{b14}}
color115 #{{b15}}
color116 #{{b16}}
color117 #{{b17}}
color118 #{{b18}}
color119 #{{b19}}
color120 #{{b20}}
color121 #{{b21}}
color122 #{{b22}}
color123 #{{b23}}
color124 #{{b24}}
color125 #{{b25}}
color126 #{{b26}}
color127 #{{b27}}
color128 #{{b28}}
color129 #{{b29}}
color130 #{{b30}}
color131 #{{b31}}
color132 #{{b32}}
color133 #{{b33}}
color134 #{{b34}}
color135 #{{b35}}
color136 #{{b36}}
color137 #{{b37}}
color138 #{{b38}}
color139 #{{b39}}
color140 #{{b40}}
color141 #{{b41}}
color142 #{{b42}}
color143 #{{b43}}
color144 #{{b44}}
color145 #{{b45}}
color146 #{{b46}}
color147 #{{b47}}
color148 #{{b48}}
color149 #{{b49}}
color150 #{{b50}}
color151 #{{b51}}
color152 #{{b52}}
color153 #{{b53}}
color154 #{{b54}}
color155 #{{b55}}
color156 #{{b56}}
color157 #{{b57}}
color158 #{{b58}}
color159 #{{b59}}
color160 #{{b60}}
color161 #{{b61}}
color162 #{{b62}}
color163 #{{b63}}
color164 #{{b64}}
color165 #{{b65}}
color166 #{{b66}}
color167 #{{b67}}
color168 #{{b68}}
color169 #{{b69}}
color170 #{{b70}}
color171 #{{b71}}
color172 #{{b72}}
color173 #{{b73}}
color174 #{{b74}}
color175 #{{b75}}
color176 #{{b76}}
color177 #{{b77}}
color178 #{{b78}}
color179 #{{b79}}
color180 #{{b80}}
color181 #{{b81}}
color182 #{{b82}}
color183 #{{b83}}
color184 #{{b84}}
color185 #{{b85}}
color186 #{{b86}}
color187 #{{b87}}
color188 #{{b88}}
color189 #{{b89}}
color190 #{{b90}}
color191 #{{b91}}
color192 #{{b92}}
color193 #{{b93}}
color194 #{{b94}}
color195 #{{b95}}
color196 #{{b96}}
color197 #{{b97}}
color198 #{{b98}}
color199 #{{b99}}
